<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
    {% include 'header.html'%}



</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>CONTRACT</h1>
                <br>
                <P>Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically
                    incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one
                    technology after plug-and-play networks.</P>

            </div>
        </div>
    </div>
    <div class="ss">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Get in touch</h2>
                    <br>
                    <p>Visit our office or simply send us an email anytime you want.
                        If you have any questions, please feel free to contact us.
                    </p>
                </div>

                <div class="col-lg-2">
                    <h2>Address</h2>
                    <br>
                    <p>
                        KA/84/3, Kagi bari, Kuril, Dhaka-1229
                    </p>
                </div>

                <div class="col-lg-2">
                    <h2>Call Us</h2>
                    <br>
                    <p>
                        01797506103
                    </p>
                </div>

                <div class="col-lg-2">
                    <h2>Email Us</h2>
                    <br>
                    <p>sadmansakib1075@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>









    {%include 'footer.html'%}

    <style>
        h1 {
            padding-top: 120px;
            text-align: center;
            font-size: 50px;

        }

        p {
            text-align: center;
            font-size: 25px;
        }

        h2 {
            padding-top: 100px;
            text-align: center;
            color: rgb(246, 140, 11);
        }

        .ss {
            padding-bottom: 80px;
        }
    </style>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>