.h {
    padding-left: 150px;

    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(249, 181, 9)
}

ul li :hover {
    color: rgb(59, 175, 224);
    font-size: 15px;



}

ul li a {
    color: black;
    font-size: 20px;
    margin-left: 35px;

}