body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

form {
    padding-left: 100px;
    width: 100%;
    margin-top: 30px;
}


label{
    width:120px;
    display: inline-block;
    font-weight: bolder;
}

.sadman {
    height: 100%;
    padding-bottom: 50px;
}
.h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: rgb(230, 202, 19);
}
.input{
    margin-left: 150px;
}