body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


h1{
    padding-top: 40px;
    padding-bottom: 60px;

}
.h2{
text-align: center;
padding-top: 40px;
padding-bottom: 50px;
color: rgb(200, 200, 37);
}
.p{
    padding-top: 150px;
    padding-right: 20px;
}


.carousel-indicators .active{
    background-color: blue;
    }
  
    .carousel-control-previous{
    
        background-color: black;
  
    }
    .carousel-control-previous-icon:hover{
        background-color: red;
        color:rebeccapurple;
    }
